body{
    padding: 0;
    margin: 0;
}
.main{
    color:orange;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.timer{
    width: 200px;
    height:200px;
    border-radius: 50%;
    box-shadow: 0 0  20px rgba(146,240,216);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    color:orange;
}
#timeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.btn{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: medium;
    border-radius: 50%;
    opacity: 0.9;
    height:5rem;
    width: 5rem;
    border:none
}

.btn:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0  20px;
}
.btn-primary{
    background-color: green;
    color:aliceblue;
}
.btn-primary:hover{

    box-shadow: 0 0  20px rgb(1, 159, 1);
}
.btn-danger{
    background-color: red;
    color:aliceblue
}
.btn-danger:hover{

    box-shadow: 0 0  20px rgb(255, 48, 48);
}
.btn-gray{
    background-color: gray;
    color:aliceblue
}
.btn-gray:hover{
    box-shadow: 0 0  20px rgb(164, 164, 164);

}